@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222.2 84% 4.9%;
    --card: 210 40% 98%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 210 40% 98%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 181 94% 75%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 181 94% 75%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .dotted-bg {
    background-color: hsl(var(--background));
    background-image: 
      radial-gradient(hsl(var(--primary) / 0.1) 1px, transparent 1px),
      linear-gradient(to right bottom, hsl(var(--primary)/0.4), hsl(var(--accent)/0.4), hsl(var(--primary)/0.4));
    background-size: 16px 16px, 400% 400%;
    animation: move-bg 15s linear infinite, gradient-flow 10s ease-in-out infinite;
  }
  .dark .dotted-bg {
    background-color: hsl(var(--background));
    background-image: 
      radial-gradient(hsl(var(--primary) / 0.2) 1px, transparent 1px),
      linear-gradient(to right bottom, hsl(var(--primary)/0.3), hsl(var(--accent)/0.3), hsl(var(--primary)/0.3));
    background-size: 16px 16px, 400% 400%;
    animation: move-bg 15s linear infinite, gradient-flow 10s ease-in-out infinite;
  }
}

@keyframes move-bg {
  0% {
    background-position: 0 0, 0% 50%;
  }
  100% {
    background-position: 16px 16px, 0% 50%;
  }
}

@keyframes gradient-flow {
	0% {
		background-position: 0 0, 0% 50%;
	}
	50% {
		background-position: 0 0, 100% 50%;
	}
	100% {
		background-position: 0 0, 0% 50%;
	}
}

